* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hide {
  display: none;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  font-family: 'Inconsolata';
  background: linear-gradient(45deg, #666666 2.63%, #ffffff 2.63%, #ffffff 50%, #666666 50%, #666666 52.63%, #ffffff 52.63%, #ffffff 100%);
  background-size: 26.87px 26.87px;
}

aside {
  width: 380px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 1em 2em;
  margin: 0 5em;
  background: white;
}

aside section {
  padding: 1em 0;
  height: fit-content;
}

aside section + section {
  margin-top: 1em;
}

aside .section-content p {
  margin-bottom: 2em;
}

aside a {
  color: red;
}

aside a:hover {
  opacity: .75;
}

.now-playing {
  border: 1px solid;
  padding: 2em;
  border: 1px dashed;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 3px;
}

#video-title {
  font-weight: 700;
}

main {
  flex-grow: 1;
  display: flex;
}

.error-msg {
  z-index: -1;
  position: absolute;
  top: 0;
  background-image: url(../images/static.gif);
  background-size: contain;
}

.error-msg .content {
  background-color: rgba(255, 255, 255, .6);
  padding: 2em;
  height: 100%;
  width: 100%;
}

.tv {
  background-image: url(../images/tv.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 772px;
  width: 680px;
  padding-top: 206px;
  padding-left: 114px;
  margin-right: 1em;
  position: relative;
}

#player {
  background-image: url(../images/static.gif);
  background-size: contain;
  width: 452px;
  height: 326px;
  position: relative;
}

#player:not(iframe) {
  z-index: -1;
}

iframe {
  border-radius: 9%;
}

.ytp-chrome-top.ytp-show-cards-title {
  display: none;
}

.error-msg {
  top: 206px;
  width: 452px;
  height: 330px;
}

button#next {
  align-self: center;
  box-shadow: none;
  background: transparent;
  border: none;
  font-family: 'Inconsolata';
  cursor: pointer;
  height: 130px;
  width: 200px;
  position: relative;
}

button#next .bg {
  padding: .4em 1em;
  width: 100%;
  height: 100%;
  background: #ff9f85;
  clip-path: polygon(37% 22%, 50% 5%, 68% 25%, 86% 9%, 90% 24%, 99% 42%, 92% 53%, 98% 86%, 86% 90%, 78% 100%, 62% 89%, 44% 100%, 35% 83%, 21% 94%, 17% 70%, 0% 64%, 8% 42%, 12% 12%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

button#next:hover .bg {
  background: #ff6b42;
  clip-path: polygon(23.5% 8.92%, 49% 22.69%, 65% 6.54%, 74% 28.23%, 96.5% 18.62%, 86% 48.15%, 80% 58.38%, 88% 72.92%, 71.5% 75.38%, 78% 100%, 54.5% 82.08%, 44% 100%, 32.5% 80.69%, 19% 81.69%, 3.50% 74.62%, 13% 57.85%, -9.5% 28.15%, 21.5% 32.77%);
}

button#next:focus, button#next:active, button#next:hover {
  outline: 0;
}

/*
@media screen and (min-height: 1080px) {
  .tv {
    width: 790px;
    padding-top: 236px;
    padding-left: 128px;
  }

  iframe, .error-msg {
    width: 528px;
    height: 382px;
  }

  .error-msg {
    top: 236px;
  }
} */

/*
@media screen and (min-height: 600px) and (max-height: 1200px) {
  .tv {
    width: 480px;
    padding-top: 144px;
    padding-left: 76px;
  }

  .error-msg {
    top: 136px;
    width: 322px;
    height: 240px;
  }

  iframe {
    width: 322px;
    height: 235px;
  }
} */

/*
@media screen and (width: 1366px) {
  .tv {
    width: 740px;
    padding-top: 150px;
    padding-left: 86px;
  }

  .error-msg {
    top: 150px;
    width: 327px;
    height: 246px;
  }

  iframe {
    width: 327px;
    height: 241px;
  }
} */

/* @media screen and (width: 1440px) {
  .tv {
    width: 740px;
    padding-top: 226px;
    padding-left: 128px;
  }

  .error-msg {
    top: 226px;
    width: 322px;
    height: 355px;
  }

  iframe {
    width: 482px;
    height: 350px;
  }
} */

@media (max-width: 980px) {
  body {
    flex-direction: column;
  }

  aside {
    width: 100%;
    height: auto;
    margin: 0;
  }

  .now-playing {
    padding: 1em;
  }

  .tv {
    padding-top: 185px;
    padding-left: 102px;
  }

  #player {
    width: 413px;
    height: 296px;
  }
}